#pageContent {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}
#calculator {
    width: 600px;
    height: 800px;
    background-color: transparent;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

#display {
    background-color: rgb(36, 36, 36);
    height: 100px;
    width: 500px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#displayText {
    width: 480px;
    color: rgb(0, 255, 13);
    overflow: hidden;
    word-wrap: break-word;
    display: inline-block;
    text-align: right;

    
    font-size: 2rem;
    line-height: 1em;
    max-height: 3em;
}

#buttonsHolder {
    height: 550px;
    width: 500px;
    background-color: azure;
    margin-left: 50px;
    display: flex;
    align-items: flex-end;  
}

#digits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: bottom;
    background-image: linear-gradient(rgb(67, 139, 139), rgb(39, 66, 73));
    
}

.digit {
    height: 100px;
    width: 100px;
    background-color: transparent;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 125px;

}

.digit:hover {
    background-color: rgba(15, 15, 15, 50%);
    transition: ease-in .1s;
}

#executeOperation {
font-size: 30px;
}

#executeOperation.digit:hover {
    background-color:rgb(87, 130, 209);
}

#removeLast:hover {
    background-color: rgba(187, 104, 104, 0.712);
}

#squared2 {
    font-size: small;
}

#removeLastX {
    font-size: medium;
}

.number {
    color: rgb(255, 208, 170);

}

#ans {
    font-size: 12px;
}

.ans {
    height: 100px;
    width: 100px;
    background-color: transparent;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 125px;  
}

.ans:hover {
    background-color: rgba(15, 15, 15, 50%);
    transition: ease-in .1s;
}